<div>
 Counter on child component
</div>

<div>
  <input type="text" placeholder="counter value" disabled="true" [value]="counterValue">
  <!--<button md-button  class="background-primary-color white-text md-small"-->
          <!--(click)="decrement()">-</button>-->
  <!--&lt;!&ndash;<md-icon md-svg-src = '/static/img/ic_plus_one.svg'></md-icon>&ndash;&gt;-->
  <!--<button md-button class="background-primary-color white-text material-cust-short-button">+</button>-->

  <md-card>
    <button md-fab>
      <md-icon>cloud</md-icon>
    </button>
    <button md-fab color="accent">
      <md-icon>airplane-takeoff</md-icon>
    </button>
  </md-card>

</div>
