<HR size=2 align=center width="100%">
<br>
<label>Please use the console to get the full test output ... </label>
<br>

<HR size=2 align=center width="100%">
<br>
Create observable and Observer
<button (click)="createObservableAndObserver()">test</button>

<HR size=2 align=center width="100%">
<br>
<br>
Create observable using from() method (without creating an observer object)
<button (click)="createObservableByFrom()">test</button>

<HR size=2 align=center width="100%">
<br>
<br>
Create observable using create() method - with displaying error message when > 4
<button (click)="createObservableByCreate()">test</button>

<HR size=2 align=center width="100%">
<br>
<br>
Create observable using map() method
<button (click)="createObservableByMap()">test</button>


<HR size=2 align=center width="100%">
<br>
<br>
Create observable using interval() method
<button (click)="createObservableByInterval()">test</button>


<HR size=2 align=center width="100%">
<br>
<br>
Create observable from events like mouse click ... using fromEvent() method
<button (click)="createObservableFromEvent()">test</button>
<br>
Log the mouse position
<button (click)="displayTheMousePositionAfterClick()">test</button>
<HR size=2 align=center width="100%">
<br>
<br>
<md-input-container>
  <label>Some observable/observer output. Please use the console to get the full test output : </label>
  <br/>
  <textarea mdInput  rows="5">{{observerOutput}}</textarea>
</md-input-container>
<br>
<button (click)="clearText()">Clear</button>

