<HR size=2 align=center width="100%">
<br>
<label>Please use the console to get the full test output ... </label>
<br>

<HR size=2 align=center width="100%">
<br>
<button md-raised-button color="primary" (click)="createObservableAndObserver()">test</button>
Create observable and Observer from array [1, 2, 3, 4, 5] using form() method and a separate Observer object.

<HR size=2 align=center width="100%">
<br>
<br>
<button md-raised-button color="primary" (click)="createObservableByFrom()">test</button>
Create observable from array [1, 2, 3, 4, 5] using form() method (without creating an observer object)

<HR size=2 align=center width="100%">
<br>
<br>
<button md-raised-button color="primary" (click)="createObservableByCreate()">test</button>
Create observable from array [1, 2, 3, 4, 5] using create() method - with displaying error message when > 4

<HR size=2 align=center width="100%">
<br>
<br>
<button md-raised-button color="primary" (click)="createObservableByMap()">test</button>
Create observable from array [1, 2, 3, 4, 5] and using mapping the values to *1000 using map() method


<HR size=2 align=center width="100%">
<br>
<br>
<button md-raised-button color="primary" (click)="createObservableByInterval()">test</button>
Create observable using interval() method (1000 values : interval(1000))


<HR size=2 align=center width="100%">
<br>
<br>
<button md-raised-button color="primary" (click)="createObservableFromEvent()">test</button>
Create observable from events like mouse click ... using fromEvent() method
<br>
<button md-raised-button color="primary" (click)="displayTheMousePositionAfterClick()">test</button>
Log the mouse position

<HR size=2 align=center width="100%">
<br>
<br>
<button md-raised-button color="primary" (click)="createObservableWithConcat()">test</button>
Create observable by contacting array [1, 2, 3, 4, 5] & array [21, 1, 23, 4, 25] ...  using concat() method
<br>

<HR size=2 align=center width="100%">
<br>
<br>
<button md-raised-button color="primary" (click)="createObservableWithMerge()">test</button>
Create observable by merging array [1, 2, 3, 4, 5] & array [21, 1, 23, 4, 25] ...  using concat() method
<br>


<HR size=2 align=center width="100%">
Concat vs Merge  :
<Br>
  We Will take two interval Observable and will concat/merge them :
    <Br><Br>
    - concat with take only the first Observable and will wait until his end so we will never get the second because
      the first will never end.
    <Br>
    - merge will merge the value form the first observable and the second

<br>
<br>
<button md-raised-button color="primary" (click)="createObservableWithConcat2()">test</button>
Concat vs Merge Create observable (1/2)
<br>
<button md-raised-button color="primary" (click)="createObservableWithMerge2()">test</button>
Concat vs Merge Create observable (2/2)
<br>

<br>
<HR size=2 align=center width="100%">

<button md-button (click)="likeMe(i)">
  <i class="material-icons md-18" [class.red-color]=true>thumb_up</i> LIKE
</button>

<button md-button (click)="unLikeMe(i)">
  <i class="material-icons md-18" [class.blue-color]=true>thumb_down</i> UNLIKE
</button>


<HR size=2 align=center width="100%">

<div class="wrapper" layout="row" layout-align="center center">
  <md-input-container>
    <label>Some observable/observer output. Please use the console to get the full test output : </label>
    <br/>
    <textarea mdInput  rows="5">{{observerOutput}}</textarea>
  </md-input-container>
  <br>
  <button md-raised-button color="primary" (click)="clearText()">Clear</button>
</div>


