<HR size=2 align=center width="100%">
<br>
<br>
Check console to get the observable/observer output ...

<HR size=2 align=center width="100%">
<br>
<br>
Create observable and Observer
<button (click)="createObservableAndObserver()">test</button>

<HR size=2 align=center width="100%">
<br>
<br>
Create observable using from() methode (without creating an observer object)
<button (click)="createObservableByFrom()">test</button>

<HR size=2 align=center width="100%">
<br>
<br>
Create observable using create() methode - with displaying error message when > 4
<button (click)="createObservableByCreate()">test</button>

<HR size=2 align=center width="100%">
<br>
<br>
Create observable using map() methode
<button (click)="createObservableByMap()">test</button>



<HR size=2 align=center width="100%">
<br>
<br>
Create observable using interval() methode
<button (click)="createObservableByInterval()">test</button>
