<div>
  <md-toolbar color="primary">
    <span><md-icon>mood</md-icon></span>
    <span>Angular 4 : Material - binding ways - Rx Observable/Observer - Animations</span>
    <button md-icon-button [md-menu-trigger-for]="menu">
      <md-icon>more_vert</md-icon>
    </button>
  </md-toolbar>
  <md-menu x-position="before" #menu="mdMenu">
    <button md-menu-item
       a [routerLink]="['/binding']"
       routerLinkActive #rla="routerLinkActive"
    >Binding</button>
    <button md-menu-item
              a [routerLink]="['/rx']"
              routerLinkActive #rla="routerLinkActive"
      >Rx</button>
    <button md-menu-item
              a [routerLink]="['/animations']"
              routerLinkActive #rla="routerLinkActive"
    >Animations</button>
  </md-menu>

  <nav md-tab-nav-bar>
    <a md-tab-link
       [routerLink]="['/binding']"
       routerLinkActive #rlaa="routerLinkActive"
       [active]="rlaa.isActive">
      Binding
    </a>
    <a md-tab-link
       [routerLink]="['/rx']"
       routerLinkActive #rlab="routerLinkActive"
       [active]="!rlaa.isActive && !rlac.isActive">
       Rx
    </a>
    <a md-tab-link
       [routerLink]="['/animations']"
       routerLinkActive #rlac="routerLinkActive"
       [active]="!rlaa.isActive && !rlab.isActive">
      Animations
    </a>
  </nav>

  <span class="done">
    <button md-fab [routerLink]="['/binding']" routerLinkActive #rla="routerLinkActive">
      <md-icon>check circle</md-icon>
    </button>
  </span>
</div>

<router-outlet></router-outlet>




